.skill-left-container{
    padding: 32px 0;
    border-right: 1px solid #ebf0f5;
    /* height: 100vh; */
    width: 16.5%;
}

.dashboard-container,
.skill-test-container,
.internships-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 90px 12px 50px;
  height: 50px;
  /* padding-top: 32px; */
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 3px 0;
  width: 100%;
}

.dashboard-container:hover,
.skill-test-container:hover,
.internships-container:hover{
    background-color: #F7F8FA;
    background-size: 10%;
}

.active{
    background-color: #F7F8FA;
    padding: 12px 90px 12px 50px;
    width: 95%;
    font-weight: 700;
    color: #0b66ef;
}

.skill-test-icon path{
    stroke: red !important;
}

.dashboard-icon,
.skill-test-icon,
.internships-icon {
  height: 16px;
  width: 16px;
}
